<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    <br>In the first form, enter numbers seperated by new lines

    <br>In the second form, enter a number

    <br>If the entered number n is in nth position it will return true

    <br>Starting from 0
    
    <br>Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
